#page-header {
  padding: 0.5rem;
}
.country {
  border-radius: 0.5rem;
  border: black solid 1px;
  background: #efefef;
  min-width: 16rem;
}
.country > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: black 1px solid;
  padding: 0.35rem;
}
.country > .header > .basket {
  cursor: pointer;
}
.country > .medals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.35rem;
  background-color: white;
  border-radius: inherit;
}
.country > .medals > .button {
  display: flex;
}
.country > .medals > .button > button {
  padding: 0.25rem;
  width: 1.5rem;
}
.country > .medals > .button > button:disabled {
  background-color: #999999;
}
.countries {
  flex-wrap: wrap;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
}
